.carousel img {
    max-height: 300px; /* Puedes ajustar esta altura */
    object-fit: cover; /* Mantiene proporción y recorta si es necesario */
    width: auto;
height: auto;
max-width: 100%;

  }
  